PORT=3001
DATABASE_URL=postgres://postgres:your-password@your-rds-endpoint:5432/postgres
DATABASE_SSL=require
CORS_ORIGIN=https://your-frontend-url.amplifyapp.com
AWS_REGION=us-east-2
S3_BUCKET=jll-isp-onboarding-s3raw
S3_AD_KEY=raw/ad/GlobalADExport_Parsed.xlsx
S3_SOFTWARE_KEY=raw/software/User_roles_C_records_Enrichednobase.xlsx
S3_TAXONOMY_KEY=raw/taxonomy/Consolidated_Groups_Combined.xlsx
